name: Flutter build check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./example

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
    - uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: nightly
    - run: rustup component add rust-src --toolchain nightly-x86_64-unknown-linux-gnu
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - name: Install linux dependencies
      run: sudo apt update && sudo apt install -y clang cmake ninja-build pkg-config libgtk-3-dev libstdc++-12-dev
    - name: Install flutter dependencies
      run: flutter pub get
    - name: Run flutter build linux
      run: flutter build linux --profile
